version: '3.9'

services:
  bitrix_qa_bot:
    image: pr21109090/bitrix_qa:latest
    container_name: bitrix-qa-bot
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - /Users/polinarebrova/PycharmProjects/BitrixQA/bitrix_qa_agent/qa_data:/app/bitrix_qa_agent/qa_data
    networks:
      - app-network

  database:
    image: postgres:15
    container_name: bitrix-qa-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge